html, body {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font: normal 14px Lato, Arial, sans-serif;
    background-color: #000000;
}

.tickets_balance {
    height: 25px;
    width: fit-content;
    background: #fafafa;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    user-select: none;
}
.tickets_balance img {
    width: 20px;
}
.tickets_balance span {
    margin-left: 7px;
    font: bold 16px Lato, Arial, sans-serif;
}

#buy_tournament_tickets {
    background: #16161a;
    border-radius: 15px
}

#buy_tournament_tickets h2 {
    font: bold 36px Lato, Arial, Sans-serif;
    margin-bottom: 20px;
}
#buy_tournament_tickets .items_tickets .item_ticket {
    margin: 10px !important
}

.page_buy_tickets {
    width: 1260px;
    margin: auto;
    padding-top: 70px;
}

.page_buy_tickets h2 {
    font: bold 42px Lato, Arial, Sans-serif;
    margin-bottom: 40px;
}

.items_tickets {
    display: flex;
    flex-wrap: wrap;
}

.items_tickets .item_ticket {
    width: 200px;
    height: 270px;
    background: radial-gradient(145.61% 72.63% at 50% 27.37%,#2e3038 0,#161619 100%),#16161a;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    transition: .2s;
    border: 1px solid #16161a;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.items_tickets .item_ticket:hover {
    border: 1px solid #0054FF;
}
.items_tickets .item_ticket .img_ticket {
    margin: auto;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    max-width: 80%;
    max-height: 51%;
}
.items_tickets .item_ticket .info_tickets {
    position: absolute;
    left: 0;bottom: 15px;
    width: 100%;
}
.items_tickets .item_ticket .info_tickets p {
    font: bold 18px Lato, Arial, Sans-serif;
    color: #fff;
    margin-bottom: 5px;
}
.items_tickets .item_ticket .info_tickets span {
    font: bold 14px Lato, Arial, Sans-serif;
    color: #5c5e66
}
.items_tickets .item_ticket .info_tickets .price_ticket {
    display: block;
    width: 100%;
    border-top: 1px solid #5c5e66;
    transition: .2s;
    padding-top: 15px;
    margin-top: 15px;
}
.items_tickets .item_ticket:hover .info_tickets .price_ticket {
    border-top: 1px solid #0054FF;
}

.top_players {
    max-width: 800px;
    margin: auto;
}
.top_players h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 40px;
}
.top_players .variants_top {
    display: flex;
    justify-content: center;
}
.top_players .variants_top a {
    font-size: 18px;
    background: #ec5e54;
    padding: 10px 25px;
    border-radius: 7px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.4;
    transition: .2s;
}
.top_players .variants_top a.active, .top_players .variants_top a:hover {
    opacity: 1;
}
.top_players #top_users {
    margin-top: 30px;
}
.top_players .user_top {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.top_players .user_top div {
    margin: 0 30px;
    text-align: left;
    width: 40%;
}
.top_players .user_top div:first-child {
    text-align: right;
}
.top_players .user_top {
    font-size: 20px;
}
[data-top] .user_top:first-child {
    font-weight: 900;
}
[data-top] .user_top:first-child .mesto {
    font-size: 24px;
    font-weight: 900;
}
[data-top] .user_top .mesto {
    font-size: 20px;
    font-weight: 600;
}

.user-account {
    position: relative;
}
.notifications {
    position: absolute;
    display: none;
    left: 0;
    top: 75px;
    width: 300px;
    height: auto;
    max-height: 250px;
    min-height: 100px;
    background: #000;
    -webkit-box-shadow: 0px 18px 50px -25px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 18px 50px -25px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 18px 50px -25px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-bottom: 1px solid white;
    z-index: 9999;
    padding-bottom: 22px;
}
.notifications .items {
    min-height: 110px;
    max-height: 243px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 30px;
}
.notifications .items::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

.notifications .items::-webkit-scrollbar-track {
    background-color: #000000
}

.notifications .items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    background-color: #222222;
    border-radius: 5px;
}

.notifications .items::-webkit-scrollbar-thumb:hover{
    background-color: #4a4a4a;
    border-radius: 5px;
}

.notifications .items::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:2px;
    height:0px
}

.notifications .items::-webkit-scrollbar{
    width: 4px;
}

.notifications .items .item {
    display: block;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255,255,255,.06);
    text-align: center;
}
/*.notifications .items .item:last-child {*/
/*    border-bottom: 0px;*/
/*}*/
.notifications .view_all {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgba(255,255,255,.05);
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
    transition: .2s;
    font-size: 14px;
}
.notifications .view_all:hover {
    opacity: 0.7;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.wrapper {
    min-width: 1260px;
}

.header {
    height: 70px;
    border-bottom: 1px solid #2c2d30;
}

.__header {
    width: 1260px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    background-color: #000000;
}

.__header > .logo-brand {
    width: 116px;
    height: 15px;
    top: 25px;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/header/logo.png);
}

.__header > .logo-brand a {
    display: block;
    cursor: pointer;
    height: 15px;
}

.__header > .navigation {
    width: 300px;
    height: 70px;
    float: left;
    margin-left: 150px;
    position: relative;
}

.__header > .navigation li {
    margin-right: 30px;
    list-style: none;
    margin-top: 24px;
}

.__header > .navigation li a {
    color: #575b66;
    float: left;
    position: relative;
    font: bold 16px Lato, Arial, sans-serif;
    background-repeat: no-repeat;
    padding-right: 26px;
    background-position: right -35px;
    background-image: url(../images/header/arrow-down.png);
}

.__header > .navigation li a:hover {
    color: #FFFFFF;
    transition: 0.4s all ease;
    background-position: right 7px;
}

.__header > .navigation li a.left-border {
    padding-left: 30px;
    margin-right: 30px;
    display: block !important;
    border-left: 1px solid #2c2d30;
}

.profile {
    width: 280px;
    height: 38px;
    float: right;
    margin-top: 16px;
}

.profile .login {
    float: left;
    width: 96px;
    height: 38px;
    text-align: center;
    border-radius: 6px;
    background-color: #0054FF;
}

.profile .login:hover {
    opacity: 0.9;
    transition: 0.4s all ease;
}

.profile .login a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    height: 38px;
    cursor: pointer;
    font: bold 16px/38px Lato, Arial, sans-serif;
}

.profile .register {
    float: right;
    width: 150px;
    height: 38px;
    text-align: center;
    border-radius: 6px;
    background-color: #0054FF;
}

.profile .register:hover {
    opacity: 0.9;
    transition: 0.4s all ease;
}

.profile .register a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    height: 38px;
    cursor: pointer;
    font: bold 16px/38px Lato, Arial, sans-serif;
}

.header,
.inner-header {
    height: 70px;
    border-bottom: 1px solid #2c2d30;
    background-color: #000000;
}

.inner-header {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

/*BEGIN LOGO*/
.logo {
    width: 116px;
    height: 15px;
    top: 25px;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/header/logo.png);
}

.logo > a {
    height: 15px;
    cursor: pointer;
    display: block;
    outline: none;
}
/*END LOGO*/

/*BEGIN NAVIGATION*/
.navigation {
    width: 500px;
    height: 70px;
    float: left;
    top: 23px;
    margin-left: 150px;
    position: relative;
    z-index: 1;
}
  
.navigation > ul li a {
    color: #575b66;
    width: 50px;
    padding-bottom: 4px;
    font: bold 16px Lato, Arial, sans-serif;
    background-repeat: no-repeat;
    padding-right: 26px;
    background-position: right -35px;
    background-image: url(../images/header/arrow-down.png);
}

.navigation > ul > li > a:hover {
    color: #FFFFFF;
    transition: 0.4s all ease;
    background-position: right 7px;
}

.navigation > ul > li > a.left-border {
    padding-left: 30px;
    border-left: 1px solid #2c2d30;
}

.navigation > ul > li {
    display: block;
    float: left;
    margin-left: 35px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
/*END NAVIGATION*/

/*BEGIN DROPDOWN MENU*/
.navigation ul.dropdown-menu {
    height: 160px;
    position: absolute;
    z-index: 9999;
    padding: 0 20px;
}

.navigation ul.dropdown-menu li {
    position: relative;
    left: -7px;
    float:left;
}

.navigation ul.dropdown-menu {
    width: 570px !important;
    top: 13px;
    left: 0;
    padding-top: 40px;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 3px solid #0054FF;
    background-color: #000000;
    z-index: 9999;
}

.navigation ul.dropdown-menu li:hover {
    transition: 0.9s all ease;
    cursor: pointer;
}

.navigation ul.dropdown-menu li a {
    height: 35px;
    
    position: relative;
    display: block;
    font: normal 12px/36px 'Roboto medium', Lato, Arial, sans-serif;
}

.navigation ul.dropdown-menu li.pubg:hover,
.navigation ul.dropdown-menu li.call-of-duty:hover,
.navigation ul.dropdown-menu li.garena:hover,
.navigation ul.dropdown-menu li.brawl:hover {
    opacity: 0.7;
    transition: 0.4s all ease;
}

.navigation ul.dropdown-menu li a.pubg {
    width: 120px;
    height: 160px;
    top: -50px;
    left: 0;
    position: relative;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position:  0 40px;
    background-image: url(../images/header/pubg.jpg);
}

.navigation ul.dropdown-menu li a.call-of-duty {
    width: 120px;
    height: 160px;
    top: -214px;
    left: 150px;
    position: relative;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position:  0 40px;
    background-image: url(../images/header/call-of-duty.jpg);
}

.navigation ul.dropdown-menu li a.garena {
    width: 120px;
    height: 160px;
    top: -378px;
    left: 300px;
    position: relative;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position:  0 40px;
    background-image: url(../images/header/garena.jpg);
}

.navigation ul.dropdown-menu li a.brawl {
    width: 120px;
    height: 160px;
    top: -542px;
    left: 450px;
    position: relative;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position:  0 40px;
    background-image: url(../images/header/brawl.jpg);
}

.navigation ul.dropdown-menu li a span {
    font-size: 14px;
    color: #FFFFFF;
    top: 160px;
    position: relative;
}

.navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
.navigation ul li:hover > ul,
.navigation ul li:focus-within > ul, /* this is the line we add */
.navigation ul li ul:hover {
    width: 180px;
    transition: all 0.6s ease;
    visibility: visible;
    opacity: 1;
    display: block;
}
  
.navigation ul li ul li {
    clear: both;
    margin-left: 7px;
    width: 180px; 
}

/*END DROPDOWN MENU*/

/*BEGIN USER ACCOUNT*/
.user-account {
    width: 280px;
    height: 38px;
    float: right;
    margin-top: 16px;
}

.user-account span {
    color: #FFFFFF;
    left: 109px;
    position: absolute;
    font: bold 13px/40px Lato, Arial, sans-serif;
}

.sign-in {
    float: left;
    width: 96px;
    height: 38px;
    text-align: center;
    border-radius: 6px;
    background-color: #0054FF;
}

.register {
    float: right;
    width: 150px;
    height: 38px;
    text-align: center;
    border-radius: 6px;
    background-color: #0054FF;
}

.sign-in > a,
.register > a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    height: 38px;
    cursor: pointer;
    font: bold 16px/38px Lato, Arial, sans-serif;
}

.sign-in:hover,
.register:hover {
    background-color: #ec5e54;
    transition: 0.4s all ease;
}
/*END USER ACCOUNT*/

.__main {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

.players {
    width: 210px;
    height: 40px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 999;
    text-align: center;
    border-radius: 4px;
    background-color: #ec5e54;
    background-repeat: no-repeat;
    background-position: 10px 11px;
    background-image: url(../images/main/playing.png);
}

.players > p {
    text-align: center;
    margin-left: 35px;
    font: bold 16px/40px Lato, Arial, sans-serif;
}

.main {
    width: 100%;
    min-height: 700px;
    border-bottom: 1px solid #2c2d30;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/main/bg-main.jpg);
}

/*
.background .left {
    width: 234px;
    height: 565px;
    bottom: 0;
    left: 60px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/main/bg-1.png);
}

.background .right {
    width: 428px;
    height: 489px;
    bottom: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/main/bg-2.png);
}*/

.info {
    top: 235px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.info h2 {
    font: bold 42px Lato, Arial, Sans-serif;
}

.info h2 > span {
    color: #ec5e54;
    text-transform: uppercase;
}

.info h3 {
    word-spacing: 5px;
    font: bold 38px Lato, Arial, sans-serif;
}

.info p.before-join-us {
    margin-top: 12px;
    margin-bottom: 50px;
    font: bold 31px Lato, Arial, Sans-serif;
}

div.join-us {
    width: 163px;
    height: 44px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #ec5e54;
    font: bold 16px/44px Lato, Arial, sans-serif;
}

div.join-us:hover {
    opacity: 0.9;
    transition: 0.4s all ease;
}

div.join-us a {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 44px;
    word-spacing: 2px;
    text-transform: uppercase;
}

p.after-join-us {
    color: #a59999;
    margin-top: 20px;
    font: bold 16px Lato, Arial, sans-serif;
}

.pro-players {
    height: 730px;
}

.__pro-players {
    width: 1260px;
    height: 730px;
    margin: 0 auto;
    padding-top: 170px;
    text-align: center;
}

.__pro-players h2 {
    margin-bottom: 30px;
    font: bold 35px/55px Lato, Arial, sans-serif;
}

.__pro-players h2 > span {
    color: #ec5e54;
    text-transform: uppercase;
}

.__pro-players h2 + p {
    color: #5d6b6e;
    font: normal 17px Lato, Arial, sans-serif;
}

.variants {
    margin-top: 80px;
}

.variants div {
    width: 420px;
    float: left;
}

.variants div h3 {
    margin-top: 125px;
    font: bold 17px Lato, Arial, sans-serif;
}

.variants div p.description {
    color: #394143;
    margin-top: 20px;
    font: normal 15px/25px Lato, Arial, sans-serifl
}

.variants div.formats {
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url(../images/variants/icon-1.png);
}

.variants div.ratings {
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url(../images/variants/icon-2.png);
}

.variants div.payouts {
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url(../images/variants/icon-3.png);
}

.footer {
    margin-top: 100px;
}

.__footer {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

.__footer .social-icons {
    width: 160px;
    height: 18px;
    top: 0;
    left: 100px;
    position: absolute;
}

.__footer .social-icons a {
    float: left;
    margin-right: 25px;
}

.__footer .social-icons a:hover {
    opacity: 0.6;
    transition: 0.4s all ease;
}

.__footer .facebook {
    width: 9px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../images/footer/social-icons/1.png);
}

.__footer .twitter {
    width: 16px;
    height: 14px;
    display: block;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-image: url(../images/footer/social-icons/2.png);
}

.__footer .google-plus {
    width: 18px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../images/footer/social-icons/3.png);
}

.__footer .instagram {
    width: 16px;
    height: 17px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../images/footer/social-icons/4.png);
}

.footer-nav {
    width: 420px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
}

.__footer ul li {
    float: left;
    list-style: none;
}

.__footer ul li a {
    color: #4d3f34;
    margin-right: 25px;
    font: normal 15px Lato, Arial, sans-serif;
}

.__footer ul li a:hover {
    color: #FFFFFF;
    transition: 0.4s all ease;
}

.__footer .sixteen-plus {
    width: 32px;
    height: 32px;
    top: 0;
    right: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/footer/sixteen-plus.png);
}

.__footer p.copyright {
    text-align: center;
    color: #4d3f34;
    margin-top: 25px;
    font: normal 16px Lato, Arial, sans-serif;
}

.__footer .payment-systems {
    width: 540px;
    height: 49px;
    margin: 50px auto 0 auto;
}

.__footer .payment-systems  a {
    float: left;
    display: block;
    margin-right: 40px;
}

.__footer .payment-systems  a:hover {
    opacity: 0.6;
    transition: 0.4s all ease;
}

.__footer .payment-systems a.mastercard {
    width: 60px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url(../images/footer/payment-systems/mastercard.png);
}

.__footer .payment-systems a.visa {
    width: 80px;
    height: 26px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-image: url(../images/footer/payment-systems/visa.png);
}

.__footer .payment-systems a.qiwi {
    width: 46px;
    height: 46px;
    margin-top: -4px;
    background-repeat: no-repeat;
    background-image: url(../images/footer/payment-systems/qiwi.png);
}

.__footer .payment-systems a.yandex {
    width: 185px;
    height: 49px;
    margin-top: -15px;
    background-repeat: no-repeat;
    background-image: url(../images/footer/payment-systems/yandex.png);
}



.next-hour {
    width: 1260px;
    margin: 0 auto 0 auto;
}

.__next-hour {
    height: inherit;
    margin: 30px auto 0 auto;
}

.__next-hour h2 {
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 13px;
    font-weight: bold;
}

.__next-hour div.h-line {
    width: 1260px;
    height: 1px;
    background-color: #2c2d30;
}

.games {
    width: 1260px;
    padding: 40px 0;
}

.game {
    height: 170px;
    padding: 10px 20px;
    border-radius: 4px;
    position: relative;
    border: 2px solid transparent;
}

.h-line {
    width: 1260px;
    height: 1px;
    margin: 20px 0;
    background-color: #867572;
}

.area-1,
.area-2,
.area-3,
.area-4 {
    height: 170px;
    float: left;
    position: relative;
}

.area-1 {
    width: 500px;
    margin-right: 100px;
}

.area-2 {
    width: 200px;
    float: left;
}

.area-2 span,
.area-3 span,
.area-4 span {
    font-size: 17px;
    font-weight: bold;
}

.area-4 {
    margin-left: 100px;
}

.area-2 span.any-description,
.area-3 span.any-description {
    color: #867572;
    font-size: 15px;
    font-weight: normal;
}

.area-1 .game-image {
    width: 170px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    float: left;
    margin-right: 30px;
    background-position: center center;
    background-image: url(../../profile/assets/images/nexthour/1.jpg);
}

.area-1 span.date {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
    display: block;
}

.area-1 span.name {
    font-weight: bold;
    font-size: 21px;
    display: block;
    margin-bottom: 5px;
}

.game:hover {
    border: 2px solid #0054FF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.6s all ease;
    background-image: url(../../profile/assets/images/nexthour/hover-02.jpg);
}

.area-1 span.game-description {
    font-size: 16px;
    color: #867572;
    display: block;
}

.area-1 p input {
    color: #ffffff;
    width: 180px;
    height: 40px;
    display: block;
    font-size: 14.5px;
    font-weight: bold;
    word-spacing: 2px;
    bottom: 10px;
    left: 195px;
    position: absolute;
    background-color: #0054FF;
    border-radius: 4px;
}

.area-1 p input:hover {
    cursor: pointer;
    transition: 0.4s all ease;
    background-color: #ec5e54;
}

.game-status {
    width: 650px;
    height: 50px;
    right: 30px;
    bottom: 4px;
    position: absolute;
}

.game-status div {
    width: 150px;
    height: 50px;
    float: left;
}

.game-status div span {
    color: #FFFFFF;
    font-size: 17.5px;
    font-weight: bold;
    display: block;
    text-align: right;
    background-repeat: no-repeat;
    background-position: 45px 0;
    background-image: url('../../profile/assets/images/nexthour/trophy.png');
}

.game-status div.any-desc {
    width: 200px;
}

.game-status div.any-desc span.prizes {
    background: none !important;
}


/*BEGIN USER ACCOUNT*/
.user-account.logged {
    width: 330px;
    height: 60px;
    float: right;
    margin-top: 3px;
}

.user-account.logged .notification {
    width: 60px;
    height: 60px;
    float: left;
    position: relative;
}

.user-account.logged .notification > a {
    width: 32px;
    height: 32px;
    display: block;
    top: 14px;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../../profile/assets/images/header/notification.png);
    outline: none;
    transform: scale(0.8);
}

.user-account.logged .sign-in > a{
    color: #575b66;
    text-align: right;
    display: block;
    height: 60px;
    width: 220px;
    right: 0;
    position: absolute;
    cursor: pointer;
    font: bold 15px/60px Lato, Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: right 0;
    background-image: url(../../profile/assets/images/header/user_man.png);
}

.user-account.logged .sign-in > a:hover,
.user-account.logged .notification > a:hover {
    opacity: 0.7;
    transition: 0.4s all ease;
}

.user-account.logged .sign-in > a > span {
    left: auto;
    right: 85px;
    top: 12px;
    position: absolute;
}
.user-account.logged .signed, .signed:hover {
    background-color: transparent;
}
.user-account.logged span {
    color: #575b66;
    font: bold 14px/40px Lato, Arial, sans-serif;
}

/*END USER ACCOUNT*/



